@import "bourbon"

/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1280px)
	.left-ident
		width: 10%
		float: left
		position: relative
		min-height: 1px
		padding-left: 15px
		padding-right: 15px
	.right-ident
		width: 10%
		float: left
		position: relative
		min-height: 1px
		padding-left: 15px
		padding-right: 15px
	.site-content
		width: 80%
		float: left
		position: relative
		min-height: 1px
		padding-left: 15px
		padding-right: 15px
		margin: 0 auto
	.main-head
		background-position: 60% top !important
		min-height: 750px !important
	.pride 
		padding-right: 0px !important
		.logo
			width: 15% !important
		.text
			padding-right: 25px !important
			padding-left: 15px !important
			width: 35% !important
	.age
		background-position: 85% 50px !important
	.age-text
		width: 80% !important
	.offer-title
		width: 400px !important
	.offer
		background-position: 15% 3% !important
		background-size: 52% !important
		margin-top: 0px !important
	.offer-content
		width: 40% !important
	.offer-text
		width: 390px
	.projects_container 
		.year
			right: -30px !important
	#modal-form
	  width: 1024px !important
	  height: 600px !important
	  border: none !important
	  top: 45% !important
	  left: 50% !important
	  margin-top: -300px !important
	  margin-left: -512px !important
	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.left-ident
		width: 15%
	.main-head
		background-position: 50% top !important
		min-height: 750px !important
	.age
		background-position: 100% 65px !important
		background-size: 60% !important
		.col-md-4
			padding: 0px
	.offer
		background-position: 5% 10% !important
		// background-size: 61% !important
	.offer-content
		padding: 0px !important
	.pride
		.text
			width: 50% !important
	.pride-description
		width: 139% !important
	.projects_container .year
		right: -25px !important
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px)
	.left-ident
		width: 5% !important
	.right-ident
		width: 5% !important
	.site-content
		width: 90% !important
	.main-head
		background-position: 55% -10px !important
		background-size: 190%;
		min-height: 700px !important
	.age
		background-position: 100% 65px !important
		background-size: 60% !important
		.col-md-4
			padding: 0px
	.offer
		background-position: 5% 10% !important
		background-size: 55% !important
	.offer-content
		padding: 0px !important
	.pride
		.text
			width: 50% !important
	.pride-description
		width: 139% !important
	.photo-gallery
		margin-left: 0px !important
		width: 110% !important
	.row 
		img
			width: 100% !important
	.projects_container .year
		right: -23px !important
	.map
		width: 120% !important
	
	.pt50
		padding-top: 0px !important
	.pt100
		padding-top: 50px !important
	.pt150
		padding-top: 100px !important

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.projects_container
		display: block !important
		width: 98% !important
		padding-left: 8px !important
	.photo-gallery
		width: 110% !important
		margin-left: -20px !important
	.projects_container .year
		right: -25px !important
	.after-gallery
		width: 50% !important
	

@media only screen and (max-width : 960px)
	.logo
		img
			width: 170px !important
	.main-head
		background-size: cover !important
		background-position: left bottom !important
	.age
		background-position: center bottom !important
	.age-title
		width: 80% !important
		margin: 0 auto !important
	.age-text
		width: 80% !important
		margin: 0 auto !important
	.pride
		width: 100% !important
		margin: 0 auto !important
	.pride-description
		text-align: left !important
		width: 100% !important
		margin: 0 auto !important
	.pride .text
		width: 80% !important
	.projects_container
		.year
			 div
			 	transform: none !important
			 	position: relative !important
			 	padding-right: 50px !important
		.letter
			text-align: left !important

	.map
		width: 97% !important
		margin: 0 auto !important
	.footer-bg
		min-height: 900px !important
		background-position: center top !important
		background-size: cover !important
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.offer-title
		width: auto !important
	.offer-text
		width: auto !important
	.offer-image
		display: none !important
	.offer
		background: none !important
		
	.offer-content
		width: 100% !important
	.offer-title
		width: 80% !important
		margin: 0 auto !important
	.offer-text
		width: 80% !important
		margin: 0 auto !important

	.photo-gallery
		width: 120% !important
		margin-left: -45px !important
	
	/*Disable Animation on Mobile Devices*/
	/* .animated */
		/*CSS transitions*/
		/*-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important*/
		/*CSS transforms*/
		/*-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important*/
		/*CSS animations*/
		/*-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important*/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	h1
		font-size: em(40pt) !important
	.pride .logo
		width: 100% !important
		text-align: center !important
	.pride .text
		width: 100% !important
	.photo-gallery
		width: 120% !important
		margin-left: -30px !important
	.after-gallery
		width: 100% !important
	.age
		background: none !important
		min-height: 200px !important


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	h1
		font-size: em(28pt) !important
		line-height: 40px !important
	h2
		font-size: em(22pt) !important
		line-height: 30px !important
	h3
		font-size: em(18pt) !important
		line-height: auto !important
	h4
		font-size: em(16pt) !important
		line-height: auto !important
	h5
		font-size: em(14pt) !important
		line-height: auto !important
	h6
		font-size: em(12pt) !important
		line-height: auto !important
	.top-mnu 
		li
			padding: 0 3px !important
	.age-title
		text-align: center !important
		width: 90% !important

	.main-head 
		.site-content
			width: 100% !important

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1900px)
	/**/