@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

body
  color: #333
//Custom Styles Here


//ALWAYS END
@import "media"

.shadow
  display: none
.hidden
  position: absolute
  z-index: 100
  width: 80%
  margin: 0 auto
  height: 50%
  min-height: 300px
  top: 0px
.right
  float: right

.dash
  list-style: none
  padding: 3px
  li
    &:before
      content: "—"
      position: relative
      left: -5px

.pt150
  padding-top: 150px

.pt100
  padding-top: 100px

.pt50
  padding-top: 50px

.pt25
  padding-top: 25px

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right
.projects_container
  min-height: 800px
  overflow: hidden
  display: table-row
  .color1
    color: #5a31fc
  .color2
    color: #4e67fc
  .color3
    color: #4493fd
  .color4
    color: #3ac1fd
  .color5
    color: #41def4
  .color6
    color: #94f6d3
  .color7
    color: #2ece74
  .year
    padding-top: 15px
    right: -50px
    div
      position: absolute
      transform: rotate(-90deg)
      transform-origin: bottom
      float: left
      font-family: "OpenSans-Bold"
      font-size: em(54pt)
  .content
    p
      margin: 6px 0px 5px 0px !important
  .letter
    font-family: "OpenSans-Bold"
    line-height: em(15.5px)
    font-size: em(54pt)
    padding-right: 0px
    text-align: right

.projects_all
  width: 100%
  // height: 800px
  background-color: #FFF
  padding-bottom: 15px
  position: absolute
  h5
    margin: 0px
    font-family: "YesevaOne-Regular"
  .description
    border: 0px
    h6
      margin: 0px
      font-family: "OpenSans-Regular"
  div
    background-color: #AAA
    height: 100%
    float: left
    padding: 5px
    valogn: bottom
    position: relative
    border: 2px solid #FFF

  float: left;
.projects_customer
  position: absolute
  width: 100%
  opacity: 0
  float: left
  .content
    padding-left: 0px
  .row
    padding: 6px 0px 6px 0px

.projects_years
  position: absolute
  width: 100%
  opacity: 0
  float: left
  counter-reset: section
  .row
    padding: 6px 0px 6px 0px
    
.projects_all 
  .block1
    width: 50%
    height: 400px

.projects_all 
  .block2
    width: 50%
    height: 200px

.projects_all 
  .block3
    width: 50%
    height: 200px

.projects_all 
  .block4
    width: 25%
    height: 400px

.projects_all 
  .block5
    width: 50%
    height: 400px

.projects_all 
  .block6
    width: 25%
    height: 200px

.projects_all 
  .block7
    width: 25%
    height: 200px

.project-menu
  ul
    list-style: none
    li
      display: inline-block
      float: left
      width: 33%
      text-align: center
    h3
      margin-top: 0px
      a
        color: #333
      a.active
        text-decoration: underline

.row-block
  display: block
  overflow: hidden
  margin: 00px 0px 20px 0px
  min-height: 400px
  img
    width: 100%
  h2
    font-family: "YesevaOne-Regular"
    font-weight: 400
  h4
    font-family: "OpenSans-Regular"

.row
  min-height: 1px
  img
    display: inline-block
    width: 80%
  h1
    font-family: "YesevaOne-Regular"
    font-weight: 400
  h3
    font-family: "OpenSans-Regular"
        
.pride
  width: 100%
  text-align: right
  div
    float: left
  .logo
    text-align: right
    width: 16.66666667%
    float: left
    min-height: 1px
    img
      display: inline-block
      padding-top: 0px
      width: 160px
  .text
    padding-right: 40px
    width: 33.33333333%
    float: left
    h2
      font-family: "YesevaOne-Regular"
      font-weight: 400

.pride-description
  h4
    text-align: right
    font-family: "OpenSans-Regular"
    font-weight: 400
    margin-top: 10px

.gradient-border
  background-image: url("/img/it_web_2_polosa.png")
  background-position: right
  background-repeat: no-repeat
  display: block
  height: 200px

.photo-gallery
  overflow: hidden
  max-width: 1200px
  div
    width: 150px
    height: auto
    float: left
    overflow: hidden
    z-index: 1
    img
      width: 150px
.photo-gallery-caption
  display: none
  margin-top: -15px
  min-height: 150px
  position: absolute
  background-image: url("/img/gallery_caption_bg.png")
  background-repeat: no-repeat
  background-size: 170px
  background-position: center -5px
  padding: 15px 10px 10px 10px 
  z-index: 100
  h5, h6
    margin: 3px 0 3px 0
  h5
    font-weight: 600

.map
  width: 100%
  yamaps
    width: 100% !important

.footer
  padding-top: 80px
  min-height: 700px
  .h1
    font-family: "YesevaOne-Regular"
    font-weight: 400
  h4
    margin: 10px 0px
  h5
    margin: 5px 0px
  .row
    padding-top: 25px
  a
    text-decoration: none
    color: #333
.footer-bg
  min-height: 800px
  width: 100%
  background-image: url("/img/bg_grey.png")
  background-position: center top
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  bottom: 0px
  z-index: -1
.age
  background-image: url("/img/illustration_1.png")
  background-repeat: no-repeat
  background-position: 65% top
  background-size: 48%
  min-height: 470px
.age-title
  margin-top: 70px
.age-text
  width: 50%
.offer
  background-image: url("/img/illustration_2.png")
  background-repeat: no-repeat
  background-position: 29% 45px
  background-size: 41%
  min-height: 500px
  ul
    margin-top: 0px
.offer-image
  width: 58.33333333%
  float: left;
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px
.offer-content
  width: 25%
  float: left
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px


#overlay
  z-index: 3
  position: fixed
  background-color: #000
  opacity: 0.8
  -moz-opacity: 0.8
  filter: alpha(opacity=80)
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none

#modal-form
  width: 1280px
  height: 600px
  border: none
  background: #fff
  position: fixed
  top: 45%
  left: 50%
  margin-top: -300px
  margin-left: -600px
  display: none
  opacity: 0
  z-index: 5
  padding: 20px 10px
  #modal-close
    width: 21px
    height: 21px
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
    display: block
    font-family: "OpenSans-Bold"
    img
      height: 15px
  #modal-content
    width: 700px
    margin: 0 auto
    h2
      font-family: "YesevaOne-Regular"
      font-weight: 400
      text-align: left
      margin-bottom: 10px
      margin-top: 10px
    .title
      margin-left: 5px
    h5
      color: #999
      font-weight: bold
      margin-top: 10px
      margin-bottom: 10px
    h6
      margin-top: 10px
      margin-bottom: 10px
      color: #999
      a
        color: #999

.formgroup
  overflow: hidden
  margin: 0 auto
  input
    float: left
    border: none
    border-radius: 0px
    margin: 3px
    width: 320px
    height: 35px
    padding-left: 10px
  textarea
    float: left
    border: none
    border-radius: 0px
    margin: 3px
    height: 100px
    width: 662px
    padding-left: 10px
    padding-top: 10px
  button
    text-align: left
    float: left
    border: none
    border-radius: 0px
    margin: 10px 10px 5px 0px 
    width: 200px
    height: 40px
    padding-left: 15px
    // margin-top: 10px
  .gradient
    color: #FFF
    background-image: linear-gradient(45deg, #5a31fc 0%, #41def4 100%)

#close-button
  background: none

.input-gradient
  margin: 5px 15px 15px 0px 
  overflow: hidden
  float: left
  width: 326px
  height: 41px
  background-image: linear-gradient(45deg, #5a31fc 0%, #41def4 100%)
.textarea-gradient
  float: left
  height: 106px
  width: 668px
  background-image: linear-gradient(45deg, #5a31fc 0%, #41def4 100%)